nav{
    background-color: rgb(88, 155, 89);
    box-shadow: 2px 10px 20px 2px rgb(35, 190, 38) inset;
}

button.navbar-toggler:focus{
    box-shadow: none;
}

main{
    padding-bottom: 30px;
}

footer{
    background-color: #EE9A49;
    padding: 10px 0 10px 0;
    width: 100%;
}

nav div button:hover  img {
        animation: enlarge 0.5s ;
        animation-fill-mode: forwards;
}

nav div button img, a#logo img   {
    width: 40px;
    height: 40px;
    
}

nav div button , a#logo{
    width: 60px;
    height: 60px;
}


a#logo:hover img {
    animation: enlarge;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
    to  {
        width: 50px;;
        height: 50px;
    }
}


a#carrelloBtnLetters{
    color: white;
}

img{
    max-width: 300px;
    max-height: 300px;
}